body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    line-height: 2;

}
.flex-container{
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 500px;
    justify-content: center;

}

.flex-item{
    background:black;
    border: 1pt solid rgb(192, 36, 127);
    width: 10px;

}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#input{
    display: flex;
    padding: 10px;
}